<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="board">

<!--  ===========================  게시판   ===============================  -->
	
	
	<!-- 게시판 리스트 출력 -->
	<select id="BoardList" resultType="BoardVO">
		<![CDATA[
		SELECT BDNUM, WRITER, TITLE, WRITEDATE
		FROM (
			SELECT 
				BDNUM, WRITER, TITLE, WRITEDATE,
				ROW_NUMBER() OVER(ORDER BY BDNUM DESC) AS rn
			FROM BOARDTABLE
		)
		WHERE rn < 8
		ORDER BY BDNUM DESC
		]]>
	</select>
	
	<!-- 게시글 조회 -->
	<select id="selectBoard" parameterType="int" resultType="BoardVO">
		SELECT * FROM BOARDTABLE
		WHERE ID = #{bdnum}
	</select>

</mapper>