<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="board">

<!--  ===========================  게시판   ===============================  -->
	
	
	<!-- 게시판 리스트 출력 -->
	<select id="BoardList" parameterType="BoardNumVO" resultType="BoardVO">
		SELECT BDNUM, WRITER, TITLE, WRITEDATE, ISUSER, viewCount, CNT
		FROM (
			SELECT 
				BDNUM, WRITER, TITLE, WRITEDATE, ISUSER, viewCount, CNT,
				ROW_NUMBER() OVER(ORDER BY BDNUM DESC) AS rn
			FROM BOARDTABLE
		)
		WHERE rn between #{startNum} and #{endNum}
		ORDER BY BDNUM DESC
	</select>
	
	<!-- 게시글 리스트 댓글 갯수 기록 -->
	<update id="insertBoardCommCount" parameterType="int">
		UPDATE BOARDTABLE SET
		CNT = CNT + 1
		WHERE BDNUM = #{bdnum}
	</update>
	
	<!-- 게시글 리스트 댓글 갯수 기록 -->
	<update id="insertBoardCommCountMin" parameterType="int">
		UPDATE BOARDTABLE SET
		CNT = CNT - 1
		WHERE BDNUM = #{bdnum}
	</update>	
	
	<!-- 게시글 카운팅 -->
	<select id="boardCount" resultType="int">
		<![CDATA[
			SELECT COUNT(BDNUM)
			FROM BOARDTABLE
			WHERE BDNUM > 0
		]]>
	</select>
	
	<!-- 게시글 조회 -->
	<select id="selectBoard" parameterType="int" resultType="BoardVO">
		SELECT BDNUM, TITLE, WRITER, WRITEDATE, CONTENT, PW, ISUSER, viewCount
		FROM BOARDTABLE
		WHERE BDNUM = #{bdnum}
	</select>
	
	<!-- 게시판 조회수 -->
	<update id="boardViewCount" parameterType="int">
		UPDATE BOARDTABLE SET
		viewCount = viewCount + 1
		WHERE BDNUM = #{bdnum}
	</update>
	
	<!-- 게시글 작성 -->
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO BOARDTABLE(
			BDNUM, 
			WRITER, 
			TITLE, 
			CONTENT,
			PW,
			ISUSER
		)
		VALUES(
			board_num_seq.nextval, 
			#{writer}, 
			#{title}, 
			#{content},
			#{pw},
			#{isuser}
		)
		<selectKey keyProperty="bdnum" resultType="int" order="AFTER">
			SELECT board_num_seq.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<!-- 게시글 삭제(유저) -->
	<delete id="deleteBoardUser" parameterType="BoardVO">
		DELETE FROM BOARDTABLE
		WHERE 
			WRITER = #{writer}
			AND
			BDNUM = #{bdnum}
	</delete>
	
	<!-- 게시글 삭제(게스트) -->
	<delete id="deleteBoard" parameterType="BoardVO">
		DELETE FROM BOARDTABLE
		WHERE 
			PW = #{pw}
			AND
			BDNUM = #{bdnum}
	</delete>
	
	<!-- 댓글 출력 -->
	<select id="selectComm" parameterType="int" resultType="CommVO">
		SELECT
			BDNUM, WRITER, BOARDCOMMENT, isUser, PW, NO
		FROM
			COMM
		WHERE BDNUM = #{bdnum}
		ORDER BY NO ASC
	</select>
	
	<!-- 댓글 카운트 -->
	<select id="countComm" parameterType="int" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			COMM
		WHERE BDNUM = #{bdnum}
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insertComment" parameterType="CommVO">
		INSERT INTO COMM(
			BDNUM,
			WRITER,
			BOARDCOMMENT,
			isUser,
			PW,
			NO
		)
		VALUES(
			#{bdnum},
			#{writer},
			#{boardComment},
			#{isUser},
			#{pw},
			#{no}
		)
	</insert>
	
	<!-- 댓글 번호 증가를 위해 현재 게시글의 댓글 번호 최대값 가져오기 -->
	<select id="getMaxCommNo" parameterType="int"  resultType="int">
		SELECT MAX(NO)
		FROM COMM
		WHERE BDNUM = #{bdnum}
	</select>
	
	<!-- 댓글 삭제(게스트) -->
	<delete id="deleteComment" parameterType="CommVO">
		DELETE FROM COMM
		WHERE 
			NO = #{no}
			AND
			BDNUM = #{bdnum}
			AND
			PW = #{pw}
	</delete>
	
	<!-- 댓글 삭제(게스트) -->
	<delete id="deleteCommentUser" parameterType="CommVO">
		DELETE FROM COMM
		WHERE 
			NO = #{no}
			AND
			BDNUM = #{bdnum}
			AND
			writer = #{writer}
	</delete>
	
</mapper>